<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ida:FederationMetadataLocation" value="https://sandbox.smchcn.net/idsrv/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="ida:Issuer" value="https://sandbox.smchcn.net/idsrv/issue/wsfed" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="AuthorizationServerContext"
   connectionString="server=smi-sandsql08-1;database=CornerstoneAuthorization;user id=CornerstoneAuthUser;password=trXDfkI3YhsvzKdF"
   providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
   <add name="SmiContext"
   connectionString="server=smi-sandsql08-1;database=CornerstoneSmiIdentity;user id=CornerstoneAuthUser;password=trXDfkI3YhsvzKdF"
   providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
  </connectionStrings>
  

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>