<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="ida:FederationMetadataLocation" value="https://accounts.samaritanministries.org/id/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="ida:Issuer" value="https://accounts.samaritanministries.org/id/issue/wsfed" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="IDServerLogoutURL" value="https://accounts.samaritanministries.org/id/account/signout" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="AuthorizationServerContext"
   connectionString="server=PIA-COREDB-01\IDAUTH;database=Platform_Authorization_config;user id=CornerstoneAuth;password=dHG6SpbSl)IS" 
         providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
    <add name="SmiContext"
    connectionString="Data Source=PIA-COREDB-01\IDAUTH;Initial Catalog=Platform_User_Identity;Persist Security Info=True;User ID=PlatformID;password=UfThOB#hP$u3"
    providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
  </connectionStrings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>