<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
      <add key="IDServerLogoutURL" value="https://sandbox.smchcn.net/idsrv/account/signout" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="AuthorizationServerContext"
   connectionString="server=smi-sandsql08-1;database=CornerstoneAuthorization;user id=CornerstoneAuthUser;password=trXDfkI3YhsvzKdF"
   providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
    <add name="SmiContext"
    connectionString="server=smi-sandsql08-1;database=CornerstoneSmiIdentity;user id=CornerstoneAuthUser;password=trXDfkI3YhsvzKdF"
    providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>