<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="IDServerLogoutURL" value="https://qa-accounts.smchcn.net/id/account/signout" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="AuthorizationServerContext"
   connectionString="server=PIA-QA-COREDB\IDAUTH;database=Platform_Authorization_config;user id=CornerstoneAuth;password=dHG6SpbSl)IS"
         providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
    <add name="SmiContext"
    connectionString="Data Source=PIA-QA-COREDB\IDAUTH;Initial Catalog=Platform_User_Identity;Persist Security Info=True;User ID=PlatformID;password=UfThOB#hP$u3"
    providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)" />
  </connectionStrings>
  
</configuration>