<system.identityModel>
  <identityConfiguration>
    
    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="https://localhost:8443">
        <keys>
          <add thumbprint="2BF43FD42D2997B5C2D45D3483547955151054BD" />
        </keys>
        <validIssuers>
          <add name="https://localhost:8443" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
    
    <certificateValidation certificateValidationMode="None" />

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
    </securityTokenHandlers>

  </identityConfiguration>
</system.identityModel>
