<system.identityModel.services>
  <federationConfiguration>
    
    <wsFederation passiveRedirectEnabled="true"
                  issuer="https://qa-accounts.smchcn.net/ID/issue/wsfed"
                  realm="urn:authorizationserver" requireSsl="false" />

    <cookieHandler name="idsrvauth"
                   requireSsl="false" />
 
  </federationConfiguration>
</system.identityModel.services>