<system.identityModel.services>
  <federationConfiguration>
    
    <wsFederation passiveRedirectEnabled="true"
                  issuer="https://dev-accounts.smchcn.net/ID/issue/wsfed"
                  realm="urn:authorizationserver" />
 
  </federationConfiguration>
</system.identityModel.services>