<system.identityModel>
  <identityConfiguration>
    
    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="https://qa-accounts.smchcn.net/ID">
        <keys>
          <add thumbprint="6650D7111E0D63E5C0A2D515129157DD51769BA5" />
        </keys>
        <validIssuers>
          <add name="https://qa-accounts.smchcn.net/ID" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
    <certificateValidation certificateValidationMode="None" />

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
    </securityTokenHandlers>

  </identityConfiguration>
</system.identityModel>